.my_underText img {
  width: 30rem;
  height: 15rem;
}

.underText_menu h1 {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 3.5rem;
  font-weight: 650;
  color: violet;
}

.underText_menu h1 .spotlight {
  color: lightblue;
}

.underText_menu p {
  line-height: 2.5rem;
  color: var(--text-color);
  font-size: 1.5rem;
}

.texted_imgBox img,
.texted_imgBox video {
  object-fit: cover;
  width: 100%;
  height: 350px;
  border-radius: 20px;
  border: 3px solid gold;
}

.my_underText {
  color: red;
  font-family: "Times New Roman", Times, serif;
}

.offerings_text {
  color: green;
  font-family: "Times New Roman", Times, serif;
  font-weight: 550;
  font-size: 2.5rem;
}

.head_text {
  color: red;
  font-weight: 450;
  font-size: 2.5rem;
}

.shownTitle {
  font-weight: 450;
  font-size: 2.5rem;
}

.UnderText {
  padding-top: 3.5rem;
  color: green;
}

.funTimes h3 {
  font-size: 2.3rem;
  font-weight: 550;
  margin-top: 1.5rem;
}
.funTimes p {
  font-size: 1.5rem;
  color: black;
  margin-top: 1.5rem;
}

.oppositeImg img {
  width: 90%;
}

.opposite {
  margin-top: 1.8rem;
}

.oppositeBx h6 {
  font-size: 1rem;
  margin-top: 0.7rem;
  color: black;
}
.oppositeBx span {
  color: white;
  font-size: 1.4rem;
  font-weight: 650;
  border-radius: 15px 15px 15px 15px;
  width: 99px;
  height: 99px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: skyblue;
}
