.main {
  margin-bottom: 0;
}

.header_menu {
  box-shadow: 3px 3px 8px -3px #ddd;
  background: #fff;
  z-index: 999;
  top: 0;
  left: 0;
  line-height: 90px;
  position: sticky;
  width: 100%;
  height: 75px;
}

.dir_item a:hover {
  color: violet;
}

.dir_item {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  color: white;
}

.portable {
  display: none;
  color: (--heading-color);
  font-size: 1.1rem;
}
