.menu_img {
  justify-content: center;
  align-items: center;
  display: flex;
  background: lightcoral;
  border-radius: 60px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  margin-bottom: 1rem;
  background: gray;
  padding: 1rem;
}

.menu_item p {
  font-size: 1rem;
  color: orange;
}

.menu_item h4 {
  font-size: 1.5rem;
  font-weight: 550;
}

.menu_item {
  border-radius: 1rem;
  padding: 0.9rem;
  border-bottom: 3px solid red;
  border-right: 2px solid darkred;
  border-top: 3px solid red;
  border-left: 2px solid darkred;
}

.menu_img img {
  width: 95%;
}
