.book {
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid red;
  position: sticky;
  top: 80px;
}

.book_top h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

.book_top h3 span {
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

.book_bottom li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book_bottom li h5,
.book_bottom li span {
  font-size: 0.7rem;
  font-weight: 500;
  color: black;
}

.total h5,
.total span {
  font-size: 1rem !important;
  font-weight: 700 !important;
  color: lightcoral !important;
}

.book_bottom Button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.book_top span {
  font-size: 1rem;
  font-weight: 600;
  color: black;
}

.book_top span i {
  color: red;
}

.book_top {
  padding-bottom: 1rem;
  border-bottom: 1px solid gray;
}

.book_form {
  padding-top: 1rem;
}

.book_form h5 {
  margin-bottom: 1rem;
}

.book_form input {
  width: 100%;
  padding: 0.4rem;
  border-radius: 0.5rem;
  color: black;
  font-size: 0.7rem;
  border-bottom: 1px solid gray;
  border: none;
}

.book_form input:focus {
  outline: none;
}

.book_info-form {
  padding: 0.2rem;
  border: 1px solid gray;
}
